<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NuevaCategoriaController</servlet-name>
        <servlet-class>controller.NuevaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCategoriasController</servlet-name>
        <servlet-class>controller.ListaCategoriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCategoriaEditar</servlet-name>
        <servlet-class>controller.buscarCategoriaEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCategoriaB</servlet-name>
        <servlet-class>controller.buscarCategoriaB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCategoria</servlet-name>
        <servlet-class>controller.BorrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCategoriaBorrar</servlet-name>
        <servlet-class>BuscarCategoriaBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCategoriaControllerBorrar</servlet-name>
        <servlet-class>controller.BuscarCategoriaControllerBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductosController</servlet-name>
        <servlet-class>controller.ListarProductosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoProductoController</servlet-name>
        <servlet-class>controller.NuevoProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCategoriaProductoController</servlet-name>
        <servlet-class>controller.buscarCategoriaProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoControllerS</servlet-name>
        <servlet-class>controller.BuscarProductoControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoControllerE</servlet-name>
        <servlet-class>controller.BuscarProductoControllerE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoControllerD</servlet-name>
        <servlet-class>controller.BuscarProductoControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarProducto</servlet-name>
        <servlet-class>controller.BorrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCategoriaController</servlet-name>
        <servlet-class>controller.EditarCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProductoController</servlet-name>
        <servlet-class>controller.EditarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarCategoriaProducto</servlet-name>
        <servlet-class>controller.SeleccionarCategoriaProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevaCategoriaController</servlet-name>
        <url-pattern>/nuevacategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCategoriasController</servlet-name>
        <url-pattern>/listacategorias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCategoriaEditar</servlet-name>
        <url-pattern>/buscarcategoriae.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCategoriaB</servlet-name>
        <url-pattern>/buscarcategoriab.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCategoria</servlet-name>
        <url-pattern>/borrarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCategoriaBorrar</servlet-name>
        <url-pattern>/buscarcategoriaborrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCategoriaControllerBorrar</servlet-name>
        <url-pattern>/buscarcategoriacontrolerborrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductosController</servlet-name>
        <url-pattern>/listarproductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoProductoController</servlet-name>
        <url-pattern>/nuevoproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCategoriaProductoController</servlet-name>
        <url-pattern>/buscarcategoriaproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoControllerS</servlet-name>
        <url-pattern>/buscarproductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoControllerE</servlet-name>
        <url-pattern>/buscarproductocontrollere.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoControllerD</servlet-name>
        <url-pattern>/buscarproductocontrollerd.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarProducto</servlet-name>
        <url-pattern>/borrarproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCategoriaController</servlet-name>
        <url-pattern>/editarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProductoController</servlet-name>
        <url-pattern>/editarproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarCategoriaProducto</servlet-name>
        <url-pattern>/selectcategoriaproducto.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
